body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ECF9FF;
}

nav {
    background-color: #FFFBEB;
}

.navbar-brand {
    font-size: 35px;
    font-weight: 700;
    margin-left: 15px;
}

.navbar-nav {
    margin-left: 20px;
}

.nav-item {
    font-size: 20px;
    font-weight: bold;
}

.recent-articles {
    margin-top: 15px;
}

.card {
    width: 20em;
    height: 19em;
    position: relative;
}

.card-title {
    padding-top: 8px;
    padding-bottom:10px;
    font-size: 25px;
}

.card-subtitle {
    font-size: 15px;
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
}

.card-text {
    font-size: 20px;
}

.carousel-item img{
    position: relative;
    object-fit: cover;
    height:300px;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.315);
    
}

.carousel-caption h4 {
    font-size: 15px;
}

.carousel {
    height: 170px;
}

.recent-article-indicators {
    position: absolute;
    top: 0;
}

.recent-card {

    margin-left: 5px;
    margin-right: 5px;
}

.general-articles {
    text-align: center;
    margin: 15px;
    padding: 5px;
    border-radius: 15px;
}

.top-article-card{
    color: black;
    text-decoration: none;
    margin-bottom: 15px;
    border: 0px;
    border-radius: 12px;
}

.top-article-card div {

    padding: 15px;
    border-radius: 12px;
}

.top-article-card img {
    border-radius: 12px;
    height: 65%;
}

.lifestyle-card {
    background-color: #558a55;
}

.technology-card {
    background-color: #5c92b9;
}

.entertainment-card {
    background-color: #a47fc9;
}

.top-article-dropdowns {
    margin-top: 125px;
}

.top-article-dropdown-btn {
    font-weight: bold;
    font-size: 3vw;
    width: 60vw;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0px;
}

.top-article-dropdown-menu {
    width: 60vw;
    border-radius: 0px;
}

.top-article-dropdown-card {
    width: 45vw;
}

.top-article-dropdown-card h3 {
    margin: 0px;
}